<mat-card>
	<mat-card-title>
		WebSocket channel
	</mat-card-title>
	
	<mat-card-subtitle>
		Connected to: <span><a href="#">{{url_websocket}}</a></span>
		<button *ngIf="!isConnected" mat-raised-button color="primary">Connect</button>
	</mat-card-subtitle>

	<mat-card-content>
		<div fxLayout="row wrap"  fxFlex="100%">
			<div fxFlex="33%">
				<mat-card>
					<mat-card-title>
						Platforms
					</mat-card-title>
					<mat-card-content>
						<mat-card *ngFor="let client of platforms">
						    <mat-card-title>
						      	<mat-icon svgIcon="drone"></mat-icon>
							      <span>
							      {{ client.alias }}
							      </span>
						    </mat-card-title>
						    <mat-card-subtitle>
						      {{ client.ip }}
						    </mat-card-subtitle>
						    <mat-card-content>
							  <div fxLayout="row" fxLayoutAlign="space-between stretch" class="client-data">
							  	<div>
							  		<h3>Sending</h3>
								  	<mat-list dense>
								  		<mat-list-item> Lat: <span>{{ client.lat }}</span></mat-list-item>
								  		<mat-list-item> Lng: <span>{{ client.lng }}</span></mat-list-item>
								  		<mat-list-item> Alt: <span>{{ client.alt }}</span></mat-list-item>
								  		<mat-list-item> x: <span>{{ client.x }}</span></mat-list-item>
								  		<mat-list-item> y: <span>{{ client.y }}</span></mat-list-item>
								  		<mat-list-item> z: <span>{{ client.z }}</span></mat-list-item>
								  	</mat-list>
							  	</div>
							  	<div *ngIf="client.master">
							  		<h3>Receiving</h3>
							  		<mat-list dense>
							  			<mat-list-item>yaw: <span>{{ client.master.yaw }}</span> </mat-list-item>
							  			<mat-list-item>pitch: <span>{{ client.master.pitch }} </span> </mat-list-item>
							  			<mat-list-item>roll: <span>{{ client.master.roll }}</span> </mat-list-item>
							  			<mat-list-item>thrutle: <span>{{ client.master.thruttle }}</span> </mat-list-item>
							  		</mat-list>
							  	</div>
							  </div>
							  <div>
							  	<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
								  <agm-marker [latitude]="client.lat" [longitude]="client.lng"></agm-marker>
								</agm-map>
							  </div>
							</mat-card-content>
							<mat-card-actions>
								<button mat-button color="primary" [routerLink]="['/client', client.alias ]">
									<mat-icon svgIcon="eye"></mat-icon> See details
								</button>
							</mat-card-actions>
						  <mat-card-footer>
						  	Paired with: <span *ngIf="client.master"><mat-icon svgIcon="control"></mat-icon>{{ client.master.alias }}</span>
						  </mat-card-footer>
						</mat-card>
					</mat-card-content>
					<mat-card-actions>
						<button *ngIf="!isAuth" mat-button color="primary" (click)="initAs('platform')">Init as platform</button>
					</mat-card-actions>
					<mat-card-footer>
						Console:
					</mat-card-footer>
				</mat-card>
			</div>
			<div fxFlex="33%">
				<mat-card>
					<mat-card-title>
						Controllers
					</mat-card-title>
					<mat-card-content>
						<mat-card *ngFor="let client of controllers">
						    <mat-card-title>
						      <span>
						      	<mat-icon svgIcon="control"></mat-icon>
						      </span>
						      {{ client.alias }}
						    </mat-card-title>
						    <mat-card-subtitle>
						      {{ client.ip }}
						    </mat-card-subtitle>
						    <mat-card-content>
						    	<div fxLayout="row" fxLayoutAlign="space-between stretch" class="client-data">
								  	<div >
								  		<h3>Sending</h3>
								  		<mat-list dense>
								  			<mat-list-item>yaw: <span>{{ client.yaw }}</span> </mat-list-item>
								  			<mat-list-item>pitch: <span>{{ client.pitch }} </span> </mat-list-item>
								  			<mat-list-item>roll: <span>{{ client.roll }}</span> </mat-list-item>
								  			<mat-list-item>thrutle: <span>{{ client.thruttle }}</span> </mat-list-item>
								  		</mat-list>
								  	</div>
								  	<div *ngIf="client.slave">
								  		<h3>Receiving</h3>
									  	<mat-list dense>
									  		<mat-list-item> Lat: <span>{{ client.slave.lat }}</span></mat-list-item>
									  		<mat-list-item> Lng: <span>{{ client.slave.lng }}</span></mat-list-item>
									  		<mat-list-item> Alt: <span>{{ client.slave.alt }}</span></mat-list-item>
									  		<mat-list-item> x: <span>{{ client.slave.x }}</span></mat-list-item>
									  		<mat-list-item> y: <span>{{ client.slave.y }}</span></mat-list-item>
									  		<mat-list-item> z: <span>{{ client.slave.z }}</span></mat-list-item>
									  	</mat-list>
									</div>
								</div>
						    </mat-card-content>
						    <mat-card-actions>
								<button mat-button color="primary" [routerLink]="['/client', client.alias ]">
									<mat-icon svgIcon="eye"></mat-icon> See details
								</button>
							</mat-card-actions>
						    <mat-card-footer>
						    	Paired with: <span *ngIf="client.slave"><mat-icon svgIcon="drone"></mat-icon>{{ client.slave.alias }}</span>
						    </mat-card-footer>
						</mat-card>
					</mat-card-content>
					<mat-card-actions>
						<button *ngIf="!isAuth" mat-button color="primary" (click)="initAs('controller')">Init as controller</button>
					</mat-card-actions>
					<mat-card-footer>
						Console:
					</mat-card-footer>
				</mat-card>
			</div>
			<div fxFlex="33%">
				<mat-card>
					<mat-card-title>
						Viewers
					</mat-card-title>
					<mat-card-content>
						<mat-card *ngFor="let client of viewers">
						    <mat-card-title>
						      <span>
						      	<mat-icon svgIcon="eye"></mat-icon>
						      </span>
						      {{ client.alias }}
						    </mat-card-title>
						    <mat-card-subtitle>
						      {{ client.ip }}
						    </mat-card-subtitle>
						</mat-card>
					</mat-card-content>
					<mat-card-actions>
						<button *ngIf="!isAuth" mat-button color="primary" (click)="initAs('viewer')">Init as viewer</button>
					</mat-card-actions>
					<mat-card-footer>
						Console:
					</mat-card-footer>
				</mat-card>
			</div>

		</div>
	</mat-card-content>

	<mat-card-footer>
		Total clients:  <span>{{clients.length}}</span>
	</mat-card-footer>
</mat-card>